/*
 * {
	outline: 1px solid tomato;
 }
*/
:root {
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: rgb(249, 250, 251);
	--color-theme-1: #a1cd3a;
	--color-theme-2: #51a8b1;
	--color-theme-3: #606062;
	--color-text: rgba(0, 0, 0, 0.7);
	color: var(--color-text);
}

html,
body {
	background-attachment: fixed;
	background-color: var(--color-bg-2);
	background-size: 100vw 100vh;
}
